- content_for :title, "Education Loans | Credit Cards | Medical Insurance"
- content_for :description, "Search for and compare student loans, education loans, auto loans, personal loans, student medical insurance, credit cards & FX payments options for international students and visa holders."
.container-fluid
  #home-section-1.about-us-header.home-section
    .row
      .col-md-12
        %h2{ style: 'text-align:center;color:white;margin: 35px 0'}
          Partners
        %div{style: "text-align:center", class: "col-md-8 offset-md-2"}
          %iframe{ width: "100%", height: "350", src: "https://www.youtube.com/embed/qVR7MRkosyQ?rel=0&autoplay=1", frameborder: "0", allowfullscreen: nil}
        %br
        %br
  #home-section-2.home-section
    .row
      .col-md-6.offset-md-3.col-10.offset-1
        %p{ style: 'text-align:center'} Nomad Credit is continuing to expand our partnerships with schools and companies around the world to further our goal of helping reduce the barriers to credit for our international customers.
        %br
        %br
         
                      

                        
  .row
    .col-md-12
      %h3.partner-page Financial Partners
    
                        
  .row
    .col-md-8.offset-md-2
      .logo-carousel
        .logo-carousel-div{style: 'text-align:center'}
          %a{ href: "http://taianfinancial.com/#l=en&p=pivot-international-student&adid=ptnr111", onclick: "gaOutboundLink('partner-Taian','http://taianfinancial.com/#l=en&p=pivot-international-student&adid=ptnr111'); return false;"}
            = image_tag 'taian.gif', height: '80', style: 'margin-top:10px', title: 'International Student Medical Insurance', alt: 'International Student Health Insurance' 

        .logo-carousel-div{style: 'text-align:center'}
          %a{ href: "https://www.jetty.com/app/?utm_source=nomadcredit&utm_campaign=nomadcredit-20170510&utm_medium=affiliate", onclick: "gaOutboundLink('partner-Jetty','https://www.jetty.com/app/?utm_source=nomadcredit&utm_campaign=nomadcredit-20170510&utm_medium=affiliate'); return false;"}
            = image_tag 'jetty.png', height: '60', style: 'margin-top:20px', title: 'International Student Renters Insurance', alt: 'International Student Cosign Lease'

        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "http://www.avanse.com/apply-now", onclick: "gaOutboundLink('partner-Avanse','http://www.avanse.com/apply-now'); return false;"}
            = image_tag 'avanse.png', height: '60', style: 'margin-top:10px', title: 'Education Loan For Indian Students', alt: 'International Student Loan For Indian Students'                    
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://prodigyfinance.com/get-a-loan?utm_source=unifi&utm_medium=paidcontent&utm_content=get-a-loan&campaign_partner=unifi&utm_campaign=unifi-paidcontent-apr2017", onclick: "gaOutboundLink('partner-Prodigy','https://prodigyfinance.com/get-a-loan?utm_source=unifi&utm_medium=paidcontent&utm_content=get-a-loan&campaign_partner=unifi&utm_campaign=unifi-paidcontent-apr2017'); return false;"}
            = image_tag 'prodigy.png', height: '100', title: 'International Student Loans No Cosigner', alt: 'International Education Loan No Cosigner'        
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "http://to.deserve.com/SH1J", onclick: "gaOutboundLink('partner-SelfScore','http://to.deserve.com/SH1J'); return false;"}
            = image_tag 'selfscore.png', height: '50', style: 'margin-top:25px', title: 'International Student Credit Cards', alt: 'International Student Build Credit Now'          
       
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://registration.mpowerfinancing.com/eligibility/00Q3900001HmD6CEAV/PRM", onclick: "gaOutboundLink('partner-MPOWER','https://registration.mpowerfinancing.com/eligibility/00Q3900001HmD6CEAV/PRM'); return false;"}
            = image_tag 'mpower.png', height: '100', title: 'International Student Loans No Cosigner', alt: 'International Education Loan No Cosigner'
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://lendbuzz.com/?utm_campaign=Nomad%20Credit%20Leads%20&utm_source=nomad_credit&utm_medium=homepage_banner", onclick: "gaOutboundLink('partner-Ascent','https://lendbuzz.com/?utm_campaign=Nomad%20Credit%20Leads%20&utm_source=nomad_credit&utm_medium=homepage_banner'); return false;"}
            = image_tag 'lendbuzz2.png', height: '80', style: 'margin-top:10px', title: 'International Education Loan US Cosigner', alt: 'International Student Loan US Cosigner'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.incred.com/education-loan.html", onclick: "gaOutboundLink('partner-Incred','https://www.incred.com/education-loan.html'); return false;"}
            = image_tag 'Incred.jpg', height: '60', style: 'margin-top:20px', title: 'Education Loan For Indian Students', alt: 'International Student Loan For Indian Students'                

        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://ascentstudentloans.com/NomadCredit", onclick: "gaOutboundLink('partner-Ascent','https://ascentstudentloans.com/NomadCredit'); return false;"}
            = image_tag 'Ascent.png', height: '40', style: 'margin-top:30px', title: 'International Education Loan US Cosigner', alt: 'International Student Loan US Cosigner'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.collegeavestudentloans.com/lp/undergrad-student-loans/?utm_campaign=2017%20ongoing&utm_source=nomad&utm_medium=aggregator&utm_content=more%20info&brand=college%20ave&product=inschool&program=undergrad&p_aff=nomad", onclick: "gaOutboundLink('partner-Ascent','https://www.collegeavestudentloans.com/lp/undergrad-student-loans/?utm_campaign=2017%20ongoing&utm_source=nomad&utm_medium=aggregator&utm_content=more%20info&brand=college%20ave&product=inschool&program=undergrad&p_aff=nomad'); return false;"}
            = image_tag 'CollegeAve.png', height: '50', style: 'margin-top:25px', title: 'Student Loan for US Students', alt: 'Student Loan For US Universities'                          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.westbon.com/users/sign_up?rc=nomadcredit&amp;utm_source=NomadCredit%20website&amp;utm_campaign=Nomad%20Credit%20Referral", onclick: "gaOutboundLink('partner-Westbon','https://www.westbon.com/users/sign_up?rc=nomadcredit&amp;utm_source=NomadCredit%20website&amp;utm_campaign=Nomad%20Credit%20Referral'); return false;"}
            = image_tag 'westbon.png', height: '80', style: 'margin-top:20px', title: 'International Student Auto Loan', alt: 'International Student Finance Vehicle' 

  .row
    .col-md-10.offset-md-1
      .separator
  .row
    .col-md-12
      %h3.partner-page Marketing Partners
    
                        
  .row
    .col-md-8.offset-md-2
      .logo-carousel
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.studyusa.com/en"}
            = image_tag 'studyusa.jpg', height: '80', style: 'margin-top:10px', title: 'International Student Resource', alt: 'International Student Loan'          

        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.isloan.org"}
            = image_tag 'paras.png', height: '50', style: 'margin-top:25px', title: 'Indian Student Education Loan Resource', alt: 'International Student Loan'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://itunes.apple.com/us/app/fluid-app/id1157853544?mt=8", onclick: "gaOutboundLink('partner-Fluid','https://itunes.apple.com/us/app/fluid-app/id1157853544?mt=8'); return false;"}
            = image_tag 'fluid.png', height: '80', style: 'margin-top:10px', title: 'Fluid Social Finance', alt: 'International Student Loan'             
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.amopportunities.org/"}
            = image_tag 'amo.png', height: '70', style: 'margin-top:15px', title: 'International Medical, Nursing, and Research Trainees', alt: 'International Student Loan'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.globaloneindia.com/"}
            = image_tag 'GlobalOne.jpg', height: '80', style: 'margin-top:10px', title: 'International Student SIM Card', alt: 'International Student SIM Card'
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "http://www.profileevaluator.com/"}
            = image_tag 'profileevaluator.png', height: '50', style: 'margin-top:25px', title: 'International Student Profile Evaluator', alt: 'International Student Profile Evaluator'
        .logo-carousel-div{style: 'text-align:center'}
          %a{ href: "http://www.achieverspoint.com"}
            = image_tag 'achievers_point.jpg', height: '60', style: 'margin-top:20px', title: 'International Student Education Consultant', alt: 'International Student Education Consultant'                                      

        .logo-carousel-div{style: 'text-align:center'}
          %a{ href: "https://goo.gl/vrgB3j"}
            = image_tag 'admito.png', height: '36', style: 'margin-top:32px', title: 'International Student Education Consultant', alt: 'International Student Education Consultant'  
        .logo-carousel-div{style: 'text-align:center'}
          %a{ href: "https://leverageedu.com/"}
            = image_tag 'leverage.jpg', height: '50', style: 'margin-top:25px', title: 'International Student Education Consultant', alt: 'International Student Education Consultant'

  .row
    .col-md-10.offset-md-1
      .separator
  .row
    .col-md-12
      %h3.partner-page School Partners
    
                        
  .row
    .col-md-8.offset-md-2
      .logo-carousel
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "http://www.eastern.edu/offices-centers/financial-aid-office/international-students"}
            = image_tag 'EasternUniversity.jpg', height: '100', style: 'margin-top:0px', title: 'Eastern University | International Students', alt: 'Eastern University | International Students'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.carthage.edu/admissions/international-students/"}
            = image_tag 'Carthage.jpg', height: '100', style: 'margin-top:0px', title: 'Carthage College | International Students', alt: 'Carthage College | International Students'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "http://udallas.edu/admissions/undergrad/international-checklist.php"}
            = image_tag 'UDallas.jpg', height: '100', style: 'margin-top:0px', title: 'University of Dallas | International Students', alt: 'University of Dallas | International Students'          

        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.manchester.edu/admissions/audiences/international-students-home"}
            = image_tag 'Manchester.jpg', height: '50', style: 'margin-top:30px', title: 'Manchester University | International Students', alt: 'Manchester University | International Students'          
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.saintmarys.edu/"}
            = image_tag 'stmarys.jpg', height: '100', style: 'margin-top:0px', title: 'Saint Marys University | International Students', alt: 'Saint Marys University | International Students'                                    
        .logo-carousel-div{ style: 'text-align:center'}
          %a{ href: "https://www.heidelberg.edu/admission-aid/international"}
            = image_tag 'hu.jpg', height: '60', style: 'margin-top:20px', title: 'Heidelberg University | International Students', alt: 'Saint Marys University | International Students' 
  %br
  %br
  %br
%script{ type: "text/javascript", src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593f865fe238afcc"}


        
:javascript 
  $(function(){
    $(".logo-carousel").slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      prevArrow: "<i class='fa fa-chevron-left' style='top:40%;position:absolute;left:-25px'></i>",
      nextArrow: "<i class='fa fa-chevron-right' style='top:40%;position:absolute;right:-25px'></i>",
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    })
  })